/* POST */
body{
    background: black;
}
h2 {
    margin: 0;
    font-size: 1.1em;
    text-align: left;
}
h2 i.fab{
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-right: 5px;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}

.caja-post {
    font-family: 'Oxygen', sans-serif;
    width: 450px;
    text-align: center;
    margin-top: 70px;
    padding: 10px 0 10px 0;
    background-color: white;
    border-radius: 5px;

}

.flex-encabezado {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

.flex-encabezado span {
    display: flex;
    align-items: center;
    color: gray;
}

.foto img {
    width: 100%;
}

.pie-foto p {
    text-align: left;
    margin: 0;
    padding: 10px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.fab, .far {
    margin: 0 5px 0 5px;
}
.negro-puntos {
    color: black;
    font-size: 24px;
}